@font-face {
	font-family: MyHelvetica;
	src: url(../font/helvetica-neue-thin.ttf);
}

@font-face {
	font-family: "Lobster 1.4";
	src: url(../font/Lobster-1.4.otf) ;
}



body {
	font: 100%  MyHelvetica;
	margin: auto;
	width: 960px;
	height: 100%;
	background-image: url(../images-design/Background-2.jpg);
	background-position:bottom;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-color:black;
	}
	
.conteneur-superieur{
	display: block;
	width: auto;
	height: auto;
	/*background-color: #fe5e5e;*/
	/*overflow: hidden;*/

}

.conteneur{
	width:720px;
	height: 1100px;
	display: block;
	background: url(../images-design/fond-corps.png);
	position: relative;
	min-height: 850px;
	border-radius: 4px;
	float: left;
	padding-bottom: 15px;
}

.conteneur-large{
	width:960px;
	height: auto;
	display: block;
	background: url(../images-design/fond-corps.png);
	position: relative;
	/*min-height: 850px;*/
	border-radius: 4px;
	float: left;
	
}

h1{
	font: 24px/35px "Lobster 1.4";
	color: #98d0d1;
	text-align: center;
	/*border-bottom: 1px solid #ffffff;*/
	text-shadow: 3px 0 3px #2d2d2d;
	white-space: normal;
}

h2{
	font: 20px "Lobster 1.4";
	color: #ffffff;
}

h3{
	font: 18px "Lobster 1.4";
	color: #ffffff;
}

h4{
	font: normal 22px "Lobster 1.4";
	color: #98d0d1;
	
	
	/*border-bottom: 1px solid #ffffff;*/
	text-shadow: 3px 0 3px #2d2d2d;
	text-align: left;
	
}
.text-bloc1{
	display: block;
	font: 15px Arial, Helvetica, Geneva, sans-serif;
	width: 100%;
	height: auto;
	/*background-color: #3fad50;*/
	position: relative;
	clear: right;	
}


/*.menu-trait { 
	background-color: #d66666;
}*/


.videogallery{
	padding-bottom: 4px;
}

p{
	text-align: justify;
	color: #ffffff;
}

ul[type=center]{
	display: table;
	margin: 0 auto;
	padding-left: 0px;
}

.text-bloc2{
	display: block;
	width: 70%;
	height: auto;
	float: left;
	font: 15px Arial, Helvetica, Geneva, sans-serif;
	position: relative;
	/*background-color: #eeec9e;*/
}

.text-bloc2 p {
	padding-left: 30px;
	margin-right: 30px;
	
}

.text-bloc1 h2{
	padding-left: 30px;
	padding-right: 30px;
	color: #ffffff;
}

.text-bloc1 h3{
	padding-left: 30px;
	padding-right: 30px;
	color: #ffffff;
}

.titre-etape h3{
	padding-left: 30px;
	padding-right: 30px;
	color: #ffffff;
}

.text-bloc2 h2{
	padding-left: 30px;
	padding-right: 30px;
	color: #ffffff;
}

.text-bloc1 p {
	padding-left: 30px;
	padding-right: 30px;
	color: #ffffff;
}

.l-ecole-theatrale-russe{ /*image */
	display: block;
	float:right;
	position: relative;
	width: 30%;
	height: auto;
	/*background-color: #9c95ef;*/
}

.l-ecole-theatrale-russe img{
	margin-left: 20px;
	margin-top: 65px;
}




.liens{
	width: auto;
	display: block;
	height: 80px;
	/*background-color: #f16b6b;*/
	float: left;
	margin-left: 30px;
	padding-top: 15px;
	border-top: 1px dashed #ffffff;
	font-style: italic;
	font-family: MyHelvetica;
	
}

a{
	text-decoration: none;
	color: #ffffff;
}

.bloc-images{
	display: block;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	
}

.bloc-images ul{
	list-style: none;
}

.bloc-images li{
	float: left;
	margin: 10px;
}

.bloc-images img{
	display: block;
	/*padding: 2px;*/
	background: #f5f5f5;
	border: 1px solid #fff;
}

.bloc-images img:hover{
	border: 1px solid #615e71;
}

#paragraphe-image{
	display: block;
	width: 100%;
	height: auto;
	/*background-color: #77c8cb;*/
}

#image-emploi-du-temps{
	margin-left: 15px;
}

#images-certificat{
	margin-left: 150px;
}

th{
	border: 1px solid #ffffff;
}

.texte-stage{
	display: block;
	position: relative;
	width: 420px;
	height: auto;
	/*background-color: #d7aaaa;*/
	padding: 30px;
	float: left;
	
}

.texte-stage p{
	margin-left: 50px;
	margin-top: -15px;
	margin-bottom: -10px;
	font-size: 14px;
}

.list-doc2{
	list-style-type:circle;
	color: #ffffff;
	margin-left: 15px ;
	margin-right: 50px;
}

.item-lm{
	list-style-type:square;
	color: #ffffff;
	margin-left: 15px ;	
}
.item-list-lm{
	margin-top: 20px;
	margin-bottom: 20px;
}

.bloc-logo-partenaires{
	display: block;
	width: 570px;
	height: auto;
	margin: auto;
	/*background-color: #e69797;*/
	clear: both;
	position: relative;
}

.conteneur-logo-partenaires{
	display: block;
	width: 180px;
	height: 100px;
	position: relative;
	float: left;
	/*background-color: #b8d7ae;*/
	margin-left: 10px;
	margin-bottom: 50px;
	clear: right;
	margin-top: 10px;
	
}

.conteneur-logo-partenaires p{
	text-align: center;
	margin: auto;
	/*background-color: #6bb7e2;*/
	font: 15px MyHelvetica;
	color: #ffffff;
	padding-top: 10px;
}



img.imagelogo{ /*centrer image*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.adresse-dlp{
	display: block;
	margin-left: 20px;
	width: 230px;
	height: 230px;
	border: 1px dashed #ffffff;
	padding-left: 20px;
	line-height: 3px;
	/*background-color: #d7e5c6;*/
	position: relative;
	float: left;
	
}

.adresse-dlp h3{
	margin-left: 0px;
}

.adresse-dlp p{
	font-size: 14px;
}

.adresse-se-rendre{
	display: block;
	width: 220px;
	height: 230px;
	float: left;
	position: relative;
	/*background-color: #e06868;*/
	
	margin-left: 20px;
}

.adresse-se-rendre p1{
	font: 15px Arial, Helvetica, Geneva, sans-serif;
	color: #ffffff;
}

.adresse-se-rendre p{
	font-size: 14px;
	margin-top: 0px;
}

.plan2{
	display: block;
	width: 180px;
	height: 230px;
	/*background-color: #8492f3;*/
	position: relative;
	float: left;
	margin-left: 10px;
	margin-bottom: 30px;
}

a[type=temoignage]{
	color: #615e71;
	float: right;
	padding-right: 10px;
}

#table-tarif{
	/*background-color: #f8a3df;*/
	margin: auto;
	border-style: solid;
	border-color: #615e71;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 40px;
}

#table-tarif td, th {
	border: thin solid #ffffff;
	width: 20%;
	color: #615e71;
	
}

 #table-tarif tr{
	text-align: center;
	line-height: 25px;
	background-color: #ffffff;
}

.fb-like{

}