@font-face {
	font-family: MyHelvetica;
	src: url(../font/helvetica-neue-thin.ttf);
}

@font-face {
	font-family: "Lobster 1.4";
	src: url(../font/Lobster-1.4.otf) ;
}


body {
	font: 100% Arial, Helvetica, Geneva, sans-serif;
	margin: auto;
	width: 960px;
	height: 100%;
	background-image: url(../Image/images-design/Background-2.jpg);
	background-position:bottom;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-color:black;
}

#bloc-principal{

	width:960px;
	height: auto;
	display: inline-block;
	background-image: url(../Image/images-design/fond-corps.png);
	border-radius: 4px;
}


#caroussel{
	
	height: 250px;
	width: 920 px;
	background: url(../Image/images-design/caroussel.png);
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	display: block;
	position: relative;
	
}

#petit-bandeau1{
	display: inline-block;
	width: 60px;
	height: 90px;
	background: url(../Image/images-design/ruban1.png);
	margin-left: 20px;
	position: relative;
	margin-top: -10px;
	
}

#petit-bandeau2{
	display: inline-block;
	width: 60px;
	height: 90px;
	background: url(../Image/images-design/ruban2.png);
	margin-left: 20px;
	position: relative;
	
}

#reseaux-soc{
	display: inline-block;
	width: 250px;
	height: 30px;
	position: relative;
	float: right;
	
	/*background-color: #14ff37;*/
	margin-right: 20px;
	margin-top: 10px;
}

#bloc-gauche{
	display: inline-block;
	width: 550px;
	height: 400px;
	/*background-color: #fb35e2;*/
	margin-left: 20px;
	margin-top: 50px;
	position: relative;
	float: left;
	margin-bottom: 30px;
	
}

#presentation{
	display: block;
	width: 55Opx;
	height: 160px;
	/*background-color: #2f04ff;*/
}



#bloc-milieu{
	display: inline-block;
	/*background-color: #0e7325;*/
	width: 170px;
	height: auto;
	position: absolute;
	margin-top: 50px;
	margin-left: 10px;
}

#affichage-facebook{
	display: block;
	
	width: 180px;
	height: 400px;
	position: relative;
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}

.image-reseaux-soc{
	display: block;
	width: 30px;
	height: 30px;
	position: relative;
	margin-right: 20px;
	float: left;
}

#image-reseaux-soc1{
	display: block;
	width: 30px;
	height: 30px;
	position: relative;
	float: left;
	background-color: #888888;
}

h1{
	font: 20px "Lobster 1.4";
	color: #ffffff;
	margin-left: 20px;
	margin-top: 15px;
}

#text-presentation{
	color: #ffffff;
	font: 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding-right: 20px;
	padding-left: 20px;
	text-align: justify;
}

.photo-bloc-milieu{
	background-color: #ffffff;
	display: block;
	width: 170px;
	height: 120;
	margin-bottom: 17px;
	position: relative;
	border: 1px solid #ffffff;
}
.image-mini-barre{
	display:block;
	width:170px;
	height: 104px;
	position: relative;
	/*background-color: #44bbc6;*/
	float: left;
}

#photo-presse{
	background-color: #f7fe0d;
	display: block;
	width: 170px;
	height: 120;
	position: relative;
	clear: right;
}

#list-menu ul li {
	text-decoration: none;
	color: #ffffff;
	list-style: none;
	margin-left: -20px;
	margin-top: 20px;
	font-family: Helvetica Neue 20px;
	
}



.photo-bloc-milieu:last-child { 
margin-bottom: 0 !important;
}

.titre-mini-barre{
	display: block;
	height: 16px;
	width: 170px;
	position: relative;
	/*background-color: #f5badb;*/
	float: left;
}

.titre-mini-barre p{
	text-align: center;
	color: #000000;
	font-size: 10px;
	margin-top: 1px;
}

.text-content-mini{
	
}

.fb-like{
	top: -120px;
	left: -8px;
	margin: 0px;
}
