img[type=pedago]{
	display: block;
	border-radius: 9px;
	width: 100px;
	margin: auto;
}

td[type=pedago]{
	display: inline-block;
	margin:3px;
}

div[type=pedago]{
	display: table;
	padding: 3px;
	margin: auto;
}