@font-face {
	font-family: MyHelvetica;
	src: url(../../font/helvetica-neue-thin.ttf);
}

@font-face {
	font-family: "Lobster 1.4";
	src: url(../../font/Lobster-1.4.otf) ;
}

@font-face {
	font-family:Geomancy;
	src: url (../../font/Geomancy-Extra-Bold.otf) ;

}

.conteneur-barre-laterale{
	display: inline-flex;
	min-width:320px;
	height: auto;
	min-height:100% ;
	/*position: relative;*/
	float: left;
	/*background-color: #faf978;*/
	/*overflow: hidden;*/
}

.petit-bloc{
	display:block;
	min-width:320px;
	height: 170px;
	margin-bottom: 15px;
	position: relative;
	background-color: #ffffff;
	border: 1px solid #ffffff;
}

/*petit-bloc.last{
	margin-bottom:0px;
}*/


.conteneur-video{
	display:block;
	min-width:320px;
	height: 150px;
	position: relative;
/*	background-color: #d4f000;*/
	
}

.sous-titres-barre{
	display: block;
	height: 20px;
	width: 100%;
	position: relative;
	/*background-color: #f5badb;*/
	
}

.sous-titres-barre p{
	text-align: center;
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 1px;
}

.bloc-reseaux-sociaux{
	display:block;
	min-width:320px;
	height: 100px;
	margin-bottom: 15px;
	/*background-color: #cf8282;*/
}




#ligne-icons{
	display: block;
	min-width: 320px;
	height: 50px;
	/*background-color: #d08484;*/
	position: relative;
	padding-top: 15px;
	margin: auto;
}


#case-blog{
	display: block;
	min-width: 320px;
	height: 50px;
	/*background-color: #aaeed9;*/
	position: relative;
	border-radius: 4px;
	border: 2px solid #615e71;
	margin: auto;
}

#case-blog p {
	font-family: MyHelvetica;
	font-size: 35px ;
	text-align: center;
	text-transform: uppercase;
	margin-top: 3px;
	color: #615e71;
}


#ligne-icons img{
	display: block;
	margin-left: 15px;
	float: left;
}





