#tab-search{
margin:auto;
}

#titre2{
	color: #ffffff;
	/*background-color: #50a4e1;*/
	font-family: HelveticaNeue;
	letter-spacing:2px;
	margin: auto;
}


#block-ou{
	text-align: center;
	/*background-color: #f83636;*/
	margin: auto;
}

.bloc-admin{
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 4px;
	width: 304px;
	margin: auto;
}

img[type=photo]{
	display: block;
	border-radius: 9px;
	min-width: 100px;
	max-width: 200px;
}

img[type=big]{
	display: block;
	border-radius: 9px;
	width: 95%;
	max-width: 400px;
	margin: auto;
	margin-bottom: 10px;
}

b[type=profil]{
	margin-left: 10px;
}

.promo{
	width: 100%;
	text-align: center;
}

img[type=eleve]{
	display: block;
	border-radius: 9px;
	width: 100px;
}

tr[type=photo]{
	display: inline-block;
	width: auto;
	min-width: 304px;
	height: auto;
}

tr[type=eleve]{
	display: inline;
	width: 100%;
	min-width: 304px;
}

div[type=eleve]{
	padding: 7px;
	display: table;
	margin: auto;
}

div[type=cult]{
	padding: 7px;
	display: table;
	max-width: 120px;
	margin: auto;
}

td[type=eleve]{
	display: inline-block;
	margin:10px;
}

#conteneur-eleves{
	margin: auto;
	width: 85%;
	height: 600px;
	border: 0px solid black;
	overflow: auto;
	float: center;
	background: url(../../images-design/fond-corps.png);
}

#nos-eleves{
	/*float: left;*/
}

/*#conteneur-promo{
	text-align: center;
	display: inline-block;
}*/