#conteneur-temoignage{
	display: block;
	border-radius: 9px;
	min-width: 320px;
	margin-bottom: 20px;
}

#titre-temoignage{
	display: block;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	min-width: 304px;
	width:95%;
	margin: auto;
	position: relative;
	background-color: #ffffff;
}

#text-temoignage{
	display: block;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	min-width: 304px;
	background-color: #ffffff;
	overflow: hidden;
	width:95%;
	margin: auto;
	margin-bottom: 20px
}

#titre-temoignage p{
	text-align: center;
	font: 20px "Lobster 1.4";
	margin: auto;
	color: #615e71;
	border-bottom: 1px solid #615e71;
}

#text-temoignage p{
	font: 13px Arial, Helvetica, Geneva, sans-serif;
	color: #000000;
	text-align: justify;
	margin-left: 13px;
	margin-right: 13px;
}